---
export interface Props {
    post: any;
}

const { post } = Astro.props;
---

<div class="my-4 mx-2 w">
    <div>
        <a class="underline underline-offset-2" href={post.url}>
            <h1 class="font-semibold">{post.frontmatter.title}</h1>
        </a>
        <h2 class="font-light w-52">{post.frontmatter.description}</h2>
        
    </div>

    <style>
    </style>
</div>
